{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %}
    Create Article
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock stylesheets %}

{% block content %}

    <div class="container">
        <div class="content-section">

            <div class="card shadow-sm mb-3 w-100">

            <h4 class="card-header">Write A New Article</h4>

            <div class="card-body">
                    <form method="POST" id="articleForm" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <table>
                              {{ form.as_table }}
                            </table>
                            <input type="submit" value="Submit">
                    </form>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}
