<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="J3uHWKo6UkFGmEz_dmaJ0wpGwPO95_IPH39yPCXV3DI" />
    <meta name="csrf_token" content="{{ csrf_token }}">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Skyhighpremium Bank | Home</title>
    <meta name="keywords" content="">
    <meta name="description"
        content="Welcome to Skyhighpremium Bank, a regional bank with a personal touch. Learn about our Personal and Commercial banking products today or sign in to your account." />
    {% block static %}

    <script src="{% static '/Scripts/scripts.js' %}"></script>
    <script src="{% static 'dashboard/author/js/message.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/customer_dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Google Tag Manager -->
    {% endblock static %}
    
   
</head>

<body>
    
    {% block head %}
        <header>
            <div class="nav-1">
                <div class="nav-1-1">
                    <a href="login.html"><div class="active-menu">Home</div></a>
                    <a href="#for-you"><div class="menu">Personal</div></a>
                </div>
                
                <div class="nav-1-1 nav-1-2">
                    <div class="active-menu">Select Language</div>
                    <div class="menu">Sustainability</div>
                    <div class="active-menu">Contact</div>
                    <!-- <div class="active-menu">Nigeria</div> -->
                </div>
            </div>
            <div class="nav-2">
                <div class="nav-2-1">
                    <div class="logo"><img src="{% static 'image/images/skyhigh.png' %}" alt="skyhigh logo"></div>
                    <a href="#about"><div class="menu">About</div></a>
                    <a href="#services"><div class="menu">Services</div></a>
                    <!-- <a href="#vision"></a><div class="menu">Vision</div>
                    <a href="#vision"></a><div class="menu">Leadership</div> -->
                </div>
            
                <div class="nav-2-1 nav-2-2">
                    <div class="search"><img src="{% static 'image/images/search_48px.png' %}" alt=""></div>
                    <div class="online-banking-button">Online Banking</div>
                    
                </div>
            </div>
        </header>
    {% endblock head %}
    
    {% block messages %} {% if messages %} {% for message in messages %}

    {% if account_block %}
        <div id="message" class="text-center font-weight-bold alert alert-dismissible fade show
                                                    {% if message.level_tag == 'error' %}
                                                    message
                                                    {% else %}
                                                    successful
                                                    {% endif %}">
            <h3 style="font-weight: bolder; color:white; margin-bottom: 10px">Account Blocked!</h3>
            <hr>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% else %}
        <div id="message" class="text-center font-weight-bold alert alert-dismissible fade show
                                                    {% if message.level_tag == 'error' %}
                                                    message
                                                    {% else %}
                                                    successful
                                                    {% endif %}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    {% endfor %} {% endif %} {% endblock messages %}
    {% block content%}
            <div class="carousel" style="background: url('{% static 'image/images/tech-daily-pz_L0YpSVvE-unsplash.jpg' %}'); background-size:cover; margin-top: 0;">
                <!-- <div class="carousel-text">
                    <h1 class="about-h1">About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus natus provident.</p>
                    <a href="#about">
                        <div class="read-more">Read More</div>
                    </a>
                </div> -->
                <div class="carousel-login">
                    <section class="login-widget">
                        <h2 class="login-title">Login</h2>
                        <h3 class="login-subtitle">Online Banking Access</h3>
                    
                        <div class="form-wrapper">
                            <form action="{% url 'bank:login' %}" class="login100-form validate-form p-b-33 p-t-5" method="post"
                                novalidate="novalidate">
                                {% csrf_token %}
                    
                                <div class="wrap-input100 validate-input" data-validate="Enter username">
                                    {{ login_form.username }}
                                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                                </div>
                    
                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                    {{ login_form.password }}
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                    
                                <div class="container-login100-form-btn m-t-32">
                                    <button type="submit" class="login-btn online-banking-button">
                                        LOGIN
                                    </button>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <a href="{% url 'bank:register' %}" class="btn btn-inverted-blue mobile" rel="noopener noreferrer"
                                        target="_blank">Enroll Now</a>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <div class="banking-options" id="services">
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/add_administrator_100px.png' %}" alt="">
                    </div>
                    <p>Open Account</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/lease_240px.png' %}" alt="">
                    </div>
                    <p>Agent Banking</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/phone_128px.png' %}" alt="">
                    </div>
                    <p>Contact Us</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/address_100px.png' %}" alt="">
                    </div>
                    <p>Find a Branch</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/graph_report_script_100px.png' %}" alt="">
                    </div>
                    <p>Annual Report</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/calculator_240px.png' %}" alt="">
                    </div>
                    <p>Loan Calculator</p>
                </div>
                <div class="option">
                    <div class="option-image-container">
                        <img src="{% static 'image/images/world_100px.png' %}" alt="">
                    </div>
                    <p>Sustainability</p>
                </div>
            </div>
            <div class="recommended" id="for-you">
                <div class="section-heading">
                    <h1>Recommended for you</h1>
                    <p class="head-subtitle">Check out our latest products and services</p>
                </div>
            
                <div class="card-container">
                    <div class="card text-left">
                        <div class="card-image-container">
                            <img class="card-img-top" src="{% static 'image/images/jonathan-borba-DUrU_bZV8So-unsplash.jpg' %}" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Open an account</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
            
            
                    <div class="card text-left">
                        <div class="card-image-container"><img class="card-img-top"
                                src="{% static 'image/images/thomas-william-kStAM22qoww-unsplash.jpg' %}" alt=""></div>
                        <div class="card-body">
                            <h4 class="card-title">Bank from home</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
            
            
                    <div class="card text-left">
                        <div class="card-image-container"><img class="card-img-top"
                                src="{% static 'image/images/petr-machacek-BeVGrXEktIk-unsplash.jpg' %}" alt=""></div>
                        <div class="card-body">
                            <h4 class="card-title">Get support</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
            
            
                    <div class="card text-left">
                        <div class="card-image-container"><img class="card-img-top"
                                src="{% static 'image/images/krakenimages-376KN_ISplE-unsplash.jpg' %}" alt=""></div>
                        <div class="card-body">
                            <h4 class="card-title">Grow your business</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
            
            
                    <div class="card text-left">
                        <div class="card-image-container"><img class="card-img-top"
                                src="{% static 'image/images/paige-cody-bOVZ_f3fbQM-unsplash.jpg' %}" alt=""></div>
                        <div class="card-body">
                            <h4 class="card-title">Get a home</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
            
            
                    <div class="card text-left">
                        <div class="card-image-container"><img class="card-img-top"
                                src="{% static 'image/images/stephen-phillips-hostreviews-co-uk-em37kS8WJJQ-unsplash.jpg' %}" alt=""></div>
                        <div class="card-body">
                            <h4 class="card-title">Send and receive money</h4>
                            <!-- <p class="card-text">Body</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-us" id="about">
                <div class="card-1-text">
                    <h2 class="heading">About SkyHigh Premium Bank</h2>
                    <p>SkyHigh Premium Bank Limited is a financial institution with solid operational base.
                        Our watchwords are RELIABILITY AND EXCELLENCE.
                        We offer unbeatable financial services across the globe as we continue to grow into the top
                        echelon of mercantile, fiscal and service provision.
                        We are customer friendly, proactive, reliable and unbeatable. That is why we are your first choice any day,
                        any time.
                    </p>
                </div>
                <div class="card-2-image">
                    <img src="{% static 'image/images/pngwing.com (3).png' %}" alt="">
                </div>
            </div>
            <div class="leadership-vision-mission" id="vision">
                <div class="card-1">
                    <div class="card-1-image">
                        <img src="{% static 'image/images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg' %}" alt="">
                    </div>
                    <div class="card-1-text">
                        <h2>Our Leadership</h2>
                        <p>Our leadership consists of seasoned experts in the banking world.
                        They are dedicated ladies and gentlemen who understand the principles of banking and with staunch academic scorecards
                        from the best banking schools across the world.
                        Our organigram has the Director at the apex of our leadership with the Chief Executive Officer and several senior staff
                        who comprise a strong team of dedicated personnel with the customers' interest at heart.</p>
                    </div>
                </div>
                <div class="card-1">
                    <div class="card-1-image">
                        <img src="{% static 'image/images/jason-goodman-Oalh2MojUuk-unsplash.jpg' %}" alt="">
                    </div>
                    <div class="card-1-text">
                        <h2>Our Vision</h2>
                        <p>At SkyHigh Premium Bank, our goal is to be the best merchant bank globally in the nearest future.
                        
                        As one of the leading banks of this nature, we could not have been where we are today without dedication, excellence and
                        reliability.
                        
                        Thanks to the trust of our teeming customers, we strive even with much more effort to be the best merchant bank of the
                        21st century.
                        
                        It is, therefore, our vision to bridge the gaping dichotomy between banks and their subscribers, thus our
                        customer-friendly approach to loans.
                        
                        Lastly, we aim to extend more loans to creditworthy customers, stimulating merchandise and economic sustainability.
                        </p>
                        <h2>Our Mission</h2>
                        <p>We prioritise the restoration of reliability in our customers' minds and prospectuses' minds.
                        
                        At a time when many financial institutions do not keep their word, SkyHigh Premium Bank stands firm in its service
                        delivery across the board.
                        We are in this business to salvage the economic encumbrances mitigating against public and private project financing.
                        </p>
                    </div>
                </div>
            </div>
    
    {% endblock content %}
    
    {% block footer %}
        <div class="footer">
            <div class="company-info">
                <div class="phone item">
                    <a href="tel:+1(408)-758-8463" title="Call us at +1(408)-758-8463" class="img-link">
                        <div class="icon"><img src="{% static 'image/images/phone_100px.png' %}" alt="Phone"> +1(408)-758-8463</div>
        
                    </a>
                </div>
                <div class="email item">
                    <a href="mailto:skyhighpremiumbnk@gmail.com" title="Email us at cadenceportals@gmail.com" class="img-link">
                        <div class="icon"><img src="{% static 'image/images/secured_letter_100px.png' %}" alt="Email"> skyhighpremiumbnk@gmail.com
                        </div>
        
                    </a>
                </div>
            </div>
            <div class="footer-1-container">
                <div class="logo-language">
                    <div class="logo"><img src="{% static 'image/images/skyhigh.png' %}" alt="skyhigh logo"></div>
                    <!-- <div class="select-language">Select Language</div> -->
                </div>
                <div class="footer-socials">
                    <div class="social"><img src="{% static 'image/images/facebook_48px.png' %}" alt=""></div>
                    <div class="social"><img src="{% static 'image/images/twitter_60px.png' %}" alt=""></div>
                    <div class="social"><img src="{% static 'image/images/instagram_48px.png' %}" alt=""></div>
                    <div class="social"><img src="{% static 'image/images/youtube_48px.png' %}" alt=""></div>
                    <div class="social"><img src="{% static 'image/images/linkedin_48px.png' %}" alt=""></div>
                </div>
            </div>
            <div class="footer-2-container">
                <div class="footer-2-section">
                    <h4>Banking</h4>
                    <p>Corporate Information</p>
                    <p>Personal Banking</p>
                    <p>Business Banking</p>
                    <p>Private Banking</p>
                    <p>Loan Calculator</p>
                    <p>Vendor Portal</p>
                    <p>Download Forms</p>
                </div>
                <div class="footer-2-section">
                    <h4>Security</h4>
                    <p>BVN</p>
                    <p>Anti-Fraud</p>
                    <p>Security Tips</p>
                    <p>Secure Code</p>
                </div>
        
                <div class="footer-2-section">
                    <h4>Contact Us</h4>
                    <p>Feedback and Complaints</p>
                    <p>Whistleblowing</p>
                    <p>Contact Form</p>
                    <p>Find an Agent</p>
                    <p>Agent Network</p>
                </div>
                <div class="footer-2-section">
                    <h4>Legal</h4>
                    <p>Sitemap</p>
                    <p>Terms of Use</p>
                    <p>Privacy Policy</p>
                    <p>Cookies Policy</p>
                </div>
            </div>
        </div>
    {% endblock footer %}

    {% block scripts %}
    
    <script src="{% static 'dashboard/author/js/message.js' %}"></script>
    {% endblock scripts %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->

</body>


</html>