<!DOCTYPE html> {% load static %} {% load cloudinary %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">


    <link rel="stylesheet" href="../assets/vendor/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> {% endblock styles %}
</head>

<body>
    {% block header %} {% include 'customer_dashboard/header.html' %} {% endblock header %}{% block sidebar %}{% include 'customer_dashboard/sidebar.html' %}{% endblock sidebar %}{% block content %}{% endblock content %} {% block footer %} {% endblock footer%}
</body>

</html>