<!doctype html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
    All Customers
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}
      <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-edit-1 bg-primary"></i>
                    <div class="d-inline">
                        <h5>Customer</h5>
                        <span>List of all customers.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">List Of Customers</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                             <section class="blog-list px-3 py-5 p-md-5">
                             {% if customers_list %}
                                    <div class="container">
                                   {% for customer in customers_list  %}
                                        <div class="item mb-5">
                                            <div class="media">
                                                
                                                <div class="media-body">
                                                    <h3 class="title mb-1"><a href="{{customer.get_absolute_url}}">{{ customer.account_name }}</a></h3>
                                                    <div class="meta mb-1">
                                                        <span class="date"><b>CUSTOMER ID</b>: <i>{{ customer.CUSTOMER_ID }}</i></span>
                                                        <span class="date"><b>SSN</b>: <i>{{ customer.SSN }}</i></span>
                                                        <span class="date">Phone Number:<b>{{ customer.mobile_number }} </b></span>
                                                        <span class="time"><b>Email</b>: {{ customer.user.email }}</span>
                                            
                                                        <span class="time">
                                                        <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        </i>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="{{customer.get_absolute_url}}">Update</a>
                                                            <div class="dropdown-divider w-100" ></div>
                                                            <a data-toggle="modal" data-target="#deleteModal" class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                        </div>
                                                      </span>
                                                    </div>
                
                                                <hr class="solid"><!-- Solid divider -->
                                                </div><!--//media-body-->
                                            </div><!--//media-->
                                        </div><!--//item-->
                                       <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel"><b>Ready to Delete Customer?</b></h5>
                                            <button
                                              class="close"
                                              type="button"
                                              data-dismiss="modal"
                                              aria-label="Close"
                                            >
                                              <span aria-hidden="true">×</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Select "Delete Customer" below if you want to delete the customer.
                                          </div>
                                          <div class="modal-footer">
                                            <button
                                              class="btn btn-secondary"
                                              type="button"
                                              data-dismiss="modal"
                                            >
                                              Cancel
                                            </button>
                                            <a class="btn btn-danger" href="{% url 'bank:customer-delete' user.id %}">Delete Customer</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                 {% endfor %}
                                    </div>
                             {% else %}
                                       <center><div class="alert alert-info"><b>No Customer</b></div></center>
                             {% endif %}
                                </section>

                                         {# Pagination for customer #}
                                        <nav aria-label="Page navigation example">
                                        {% if customers_list.has_other_pages %}
                                      <ul class="pagination justify-content-center">
                                      {% if customers_list.has_previous %}
                                        <li class="badge badge-pill badge-secondary">
                                          <a class="badge text-white" href="?page={{ customers_list.previous_page_number }}"
                                             tabindex="-1">Previous</a>
                                        </li>
                                      {% else %}
                                        <li class="badge badge-pill badge-secondary disabled">
                                         <span class="badge badge-pill badge-secondary">Previous</span>
                                        </li>
                                         {% endif %}
                                        {% for i in customers_list.paginator.page_range %}
                                        {% if customers_list.number == i %}
                                            <li class="page-item active">
                                          <span class="page-link">
                                            {{ i }}
                                            <span class="sr-only">(current)</span>
                                          </span>
                                        </li>
                                    {% else %}
                                       <li class="page-item">
                                           <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                       </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if customers_list.has_next %}
                                            <li class="badge badge-pill badge-secondary">
                                          <a class="badge text-white" href="?page={{ customers_list.next_page_number }}">Next</a>
                                        </li>
                                        {% else %}
                                         <li class="badge badge-pill badge-secondary disabled">
                                         <span class="badge badge-pill badge-secondary">Next</span>
                                        </li>
                                          {% endif %}
                                      </ul>
                                        {% endif %}
                                    </nav>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>

{% endblock content %}