<!doctype html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load cloudinary %}
{% load mathfilters %}

{% block title %}
    Home
{% endblock %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
    
    <div class="container-fluid">
        <div class="create">
            {% if currency %}
            {% for cur in currency %}
            <div class="new-customer"><a href="{{ cur.get_absolute_url }}">Change currency ({{cur.currency}})</a></div>
            {% endfor %}
            {% endif %}
            
        </div>
        <div class="create">
            <div class="new-customer"><a href="{% url 'bank:user-create' %}">Create New Customer</a></div>
            <div class="new-customer"><a href="{% url 'bank:posttransaction-create' %}">Top Up Account</a></div>
            <div class="new-customer"><a href="{% url 'bank:transactionhistory-create' %}">Create Transaction History</a></div>
        </div>
        
        <div class="container-content">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>USER ID</th>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Account Type</th>
                        <th>Suspend</th>
                        <th>Block</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if accounts %}
                        {% for account in accounts %}
                            {% if account %}
                            <tr>
                                <td><a class="email" href="{% url 'bank:customer-update' account.customer.id %}">{{account.customer.user.email}}</a></td>
                                <td><a href="{% url 'bank:user-update' account.customer.user.id %}">{{account.customer.user.username}}</a></td>
                                <td><a href="{{ account.get_absolute_url }}">{{account.account_name}}</a></td>
                                <td><a href="{{ account.get_absolute_url }}">{{account.account_number}}</a></td>
                                <td><a href="{{ account.get_absolute_url }}">{{account.account_type}}</a></td>
                                <td><a href="{{ account.get_absolute_url }}">{{account.suspend_account}}</a></td>
                                <td><a href="{{ account.get_absolute_url }}">{{account.block_account}}</a></td>
                                <td><a class="delete" href="{% url 'bank:account-delete' account.id %}">Delete</a></td>
                                
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>  
    
{% endblock content %}

