{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}
Update Profile
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static 'dashboard/author/css/dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-file-text bg-blue"></i>
                <div class="d-inline">
                    <h5>Create Transaction History</h5>
                    <span>Create a Credit and Debit Transaction History.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="title">Create Transaction History</h4>
                </div>
                <div class="card-body">
                    <div class="content">
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}

                            </table>
                            <input type="submit" value="Submit">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}