@media (min-width: 1500px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body-container {
        max-width: 1600px;

    }
    .customer-sidenav {
        margin-right: 50px;
    }
}

.body-container{
    background-color: rgba(255, 255, 255, 0);
}
.username-nav{
    color: #000000;
}

.content-head{
    color: #000000;
    font-weight: 900;
}
.customer-sidenav{
    float: left;
    
    height: 100%;
}
.customer-user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}
.customer-user-info p{
    margin: 5px;
    padding: 0;
}
.customer-user-info .customer-name{
    font-size: 25px;
    /* color: #2c2b2b; */
    color: #000000;
    font-weight: 800;
}
.customer-user-info .customer-user_email{
    font-size: 14px;
    color: rgb(31, 31, 31);
    display: none;
}
.customer-photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.customer-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.customer-navigation{
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 30px;
    padding: 40px;
    height: 100vh;
}
.customer-dashboard-nav{
    height: 45px;
    /* width: 250px; */
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: rgb(248, 170, 97); */
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
.customer-dashboard-nav h5{
    color: #ffffff;
    margin-left: 10px;
    font-size: 16px;
    
}
.customer-dashboard-nav img{
    height: 20px;
    width: 20px;
}
.customer-container{
    padding-top: 50px;
    /* width: 100%; */
    /* padding-left: 150px; */
}
.customer-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.customer-atm-card{
    min-width: 370px;
    max-width: 400px;
    height: fit-content;
    padding: 20px;
    color: #ffffff;
    border-radius: 15px;
    background: rgba(8, 23, 53, 0.877);
    /* background: -webkit-linear-gradient(top left, rgba(29, 0, 143, 1.0), rgba(81, 107, 175, 1.0));
    background: -moz-linear-gradient(top left, rgba(60, 40, 140, 1.0), rgba(81, 107, 175, 1.0));
    background: linear-gradient(to bottom right, rgba(60, 40, 140, 1.0), rgba(81, 107, 175, 1.0));; */
}
.customer-card-logo{
    width: 100px;
    height: 70px;
    /* border: #FF5733 solid; */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-card-logo img{
    max-width: 100%;
    max-height: 100%;
}

.customer-chip-cardnum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-card-no span{
    margin-left: 10px;
    font-size: 14px;
}
.customer-card-no{
    letter-spacing: 2.5px;
}
.customer-card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.customer-card-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-card-name{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 14px;
    padding: 5px;
}
.customer-chip-cardnum .customer-chip{
    width: 60px;
    height: 50px;
}
.customer-date-cvv p{
    padding: 0;
    margin: 0;
}
.customer-account-info{
    margin-left: 30px;
    border-bottom: #FF5733 solid;
    border-top: #FF5733 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: fit-content;
}
.customer-account-info p{
    padding: 0;
    margin: 0 0 5px 0;
}
.customer-account-info span{
    font-weight: 600;
}
.customer-transaction-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
}
.customer-transaction-summary{
    display: flex;
}
.customer-transaction-card{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    /* color: #ffffff; */
    padding: 10px 10px 10px 15px;
    background-color: #ffffffd3;
    margin: 20px;
}

.customer-transaction-card p{
    padding: 0;
    color: #000000;
}
a{
    list-style: none;
}
.customer-payment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

/* Customer Payment form */
.row{
    width: 100%;
}
p, h5, h4{
    padding: 0;
    margin: 0;
}
.transaction-history{
    margin-left: 50px;
    margin-top: 30px;
}
.transaction-history table{
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
}
 
.transaction-history td, th{
    padding: 20px;
    font-weight: 900;
}
.transaction-history td{
    border: thin solid #fffefe;
}

.transaction-history th{
    color: #FF5733;
    font-size: 18px;
}

.transaction-history tr:nth-child(even){
    background: #ffebe6af;
}
.transaction-history tr:nth-child(odd) {
    color: #ffffff;
    background: #0000009d;
}
.transaction-history td:nth-child(4) {
    color: red;
}
.transaction-history td:nth-child(3) {
    color: green;
}

.customer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 20px;
    top: 0;
}
.dropdown{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dropdown img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.admin-site{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.admin-site img{
    width: 30px;
    height: 30px;
}
.admin-site p{
    font-size:10px;
}
.admin-site .admin{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media (max-width:865px) {
    .customer-sidenav{
        float: none;
    }
    .customer-navigation{
        height: 100%;
        margin: 10px;
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: none;
        background: none;
    }
    .customer-dashboard-nav{
        background-color: rgba(20, 20, 20, 0.7);
        margin: 5px;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        border-radius: none;
        height: 70px;
        width: 90px;
    }
    .customer-dashboard-nav h5{
        margin-top:5px;
        font-size: smaller;
    }
    .customer-card-head{
        flex-wrap: wrap;
        padding: 5px;
    }
    .customer-account-info{
        margin-top: 10px;
    }
    .customer-transaction-summary{
        flex-wrap: wrap;
    }
    .transaction-history{
        padding: 0px;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    .transaction-history table{
        width: 100%;
    }
    .transaction-history td{
        padding: 5px 4px 5px 4px;
        font-weight: 900;
        font-size: 10px;
    }
    .transaction-history th{
        font-size: 11px;
        padding: 10px 4px 10px 4px;
    }
    .customer-payment-container{
        padding: 5px;
    }
}
.customer-container h5, .customer-container span{
    color: #ffffff;
}
.icon{
    width: 20px;
    height: 20px;
}
.customer-transaction-card h5 {
    font-size: large;
    font-weight: 800;
    color: #000000;
    margin: 5px 0 5px 0;
}
.message{
    color: white;
    background-color: #d65437;
}

.successful{
    color: white;
    background-color: #01b15f;
}
#message{
    width: 300px;
    height: auto;
    padding: 10px;
    position: fixed;
    top: 25%;
    left: calc(50% - 150px);
    z-index: 1000;
}